body{
    margin:0;
    display:flex;
}

button{
    border: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    padding: 10px;
    border-radius: 10px;
    background-color: #604cff;
    color:#ffffff;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
}



.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#svgcontainer{
    flex:1 1 80%;
}

#dialogcontainer{
    flex:1 1 20%;
    background-color: #2b1b81;
}

.dialogwindow{
    padding: 0 5% 0 5%;
    color: #ffffff;

}

textarea {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.button_accept{
    
}

.save_to_files{
   
}

#csvfile{
    padding: 10px;
    border-radius: 10px;
    background-color: #604cff;
    color:#ffffff;
    font-weight: 700;
    width: 90%;
}






.context_menu{
    width: 15%;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    -webkit-box-shadow: 3px 3px 4px 0px rgba(128,128,128,1);
    -moz-box-shadow: 3px 3px 4px 0px rgba(128,128,128,1);
    box-shadow: 3px 3px 4px 0px rgba(128,128,128,1);
    border: 2px solid #c5c5c5;
    border-radius: 10px;
    overflow: hidden;
}

.context_menu div{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
padding: 8px 13px 8px 13px;
font-size: 14px;
}

.context_menu div:hover{
    cursor: pointer;
    background-color: rgba(224, 224, 224);
}